<%= error_messages_for :poll -%>
<% form_for [:admin, @poll] do |f| -%>
  
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger' -%>
  </div>
  
  <div class='field'>
    <%= f.label :start_date -%>
    <%= f.date_select :start_date -%>
  </div>
  
  <div class='field'>
    <%= f.label :end_date -%>
    <%= f.date_select :end_date -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions", :locals => {:f => f, :continue_editing => false} %>
<% end -%>
